---
CompileFlags:
  Add: [-Wall, -Wextra]

Diagnostics:
  ClangTidy:
    Add:
      - readability-function-cognitive-complexity
      - performance-unnecessary-value-param

InlayHints:
  Designators: false
  Enabled: false
  ParameterNames: false
  DeducedTypes: false